body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: #f4f6f8;
    color: #333;
    }
header {
    background-color: #CEDC00;
    color: #fff;
    padding: 20px;
    text-align: center; 
}

section {
    max-width: 900px;
    margin: 30px auto;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

h2 {
    color: #CEDC00;
    margin-top: 0;
}

ul {
    padding-left: 20px;
}
