body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: #f4f6f8;
    color: #333;
    }
header {
    background-color: #CEDC00;
    color: #fff;
    padding: 20px;
    text-align: center; 
}
